<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Blog App</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
  <header>
    <div class="h1">
    <h1>Welcome to blog app ^.^ </h1>
  </div>
    <nav>
        <h2 class="home"> <a href="{% url 'home' %}">Home</a> </h2>
    </nav>
  </header>
  <main>
    {% block main %}
    {% endblock main %}
  </main>
  
</body>
</html>